# render-tests
/render-tests/test1/target
/render-tests/test1/Cargo.lock

# tar-script
/tar_script/target
/tar_script/Cargo.lock

# tar-script manager
/tarmg/target
/tarmg/Cargo.lock

# entry-point
/entry_point/target
/entry_point/Cargo.lock

# tarator
/tarator/target
/tarator/Cargo.lock

# sandbox
/sandbox/target
/sandbox/Cargo.lock

# garlic
/garlic/target
/garlic/Cargo.lock
